@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@200&display=swap');

#headingIndexPage {
  font-family: 'Lora', serif;
  font-size: 80px;
  text-align: -webkit-center;
  padding-top: none;
}