@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&display=swap');

#headingIndexPage {
  font-family: 'Lora', serif;
  font-size: 60px;
  text-align: -webkit-center;
  padding-top: none;
}