@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

#headingIndexPage {
  font-family: "Lora", serif;

  font-size: 70px;
  color: "#FFFFFF";
  text-align: -webkit-center;
  padding-top: none;
}
