.scroll-to-top {
  position: fixed;
  bottom: 12px;
  left: 90%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #8b0000;
  color: #fff;
  z-index: 1;
}
.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}
