// SearchBar
#searchField {
  // margin: auto;
  margin-top: 5%;
  // width: fit-content;
}

#searchInput {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 3px;
  float: left;
  background: #f1f1f1;
}
