@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&display=swap");

#heading {
  font-family: "Lora", serif;
  font-size: 60px;
  text-align: -webkit-center;
}

// SearchBar
#searchField {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
  height: 600px;

  background: #ffffff;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 8px 8px white inset;
}

#searchInput {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 3px;
  float: left;
  background: #f1f1f1;
}
