.main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 210px;
  margin-top: 42px;
}

.list {
  width: 300px;
}
.text-message-box {
  height: 100px;
  position: fixed;
  bottom: 15px;
  width: calc(50% - 70px);
  padding-right: 50px;
  // width: 100%;
}

.msg {
  display: flex;
  flex-direction: column;
}
