// body {
//   width: 100%;
//   height: 100%;
// }
.main {
  width: 100%;
  height: 100%;
  display: flex;
}

// div {
//   background: yellow;
//   width: auto;
// }
.list {
  width: 300px;
  background: lightblue;
}
.text {
  height: 100px;
}

.msg {
  display: flex;
  flex-direction: column;
}
